.dialogs{
    display: grid;
    grid-template-columns: 500px 500px;
}

.dialogItems {
    font-size: 20px;
    padding: 20px;
    margin-left: 100px;
    text-align: left;
    line-height: 30px;
}

.dialogItems .active{
    color: gold;
}

.messages{
    font-size: 18px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 200px;
    line-height: 40px;
    text-align: right;
}

.messages .message{

}

.dialogAvatar{
    display: inline-grid;
    border-radius: 20px;
    width: 40px;
    margin-right: 10px;
}

.messageAvatar{
    display: inline-grid;
    border-radius: 20px;
    width: 30px;
    margin-left: 7px;
}

.dialogs a:hover {
    color: gold;
}

a, a.active{
    text-decoration: none;
}